---
import background from "../assets/1761618748765.webp";
import avatar from "../assets/1764646712866.webp";
---

<div
  class="layout"
  style="padding-bottom: 30vh; transform: translateX(calc(var(--direction, 1) * 0px)); transition-duration: 200ms; transition-timing-function: ease; transition-property: transform;"
>
  <div
    contenteditable="false"
    class="pseudoSelection"
    data-content-editable-void="true"
    style="user-select: none; --pseudoSelection--background: transparent; display: contents;"
  >
    <div
      class="layout-margin-right"
      style="width: 100%; grid-row: 1 / -1; padding-inline-start: 0px; position: sticky; top: 0px; inset-inline-end: 0px; z-index: 80; transition: opacity 0.2s; opacity: 1; visibility: visible; pointer-events: none;"
    >
      <div style="width: 100%; height: 0px;"></div><div
        class="hide-scrollbar ignore-scrolling-container notion-floating-table-of-contents"
        style="position: absolute; top: 0px; width: 100%; height: calc(-44px + 100vh); display: flex; flex-direction: column; pointer-events: none;"
      >
        <div style="display: flex;">
          <div
            contenteditable="false"
            data-content-editable-void="true"
            style="width: 100%;"
          >
            <div
              style="max-height: 653px; margin-bottom: 60px; pointer-events: auto;"
            >
              <div
                style="max-height: 400px; display: flex; flex-direction: row; position: absolute; top: 370px; inset-inline-end: 0px; overflow-y: hidden; opacity: 1; transition-duration: 200ms; transition-timing-function: ease; transition-property: opacity;"
              >
                <div
                  style="width: 56px; display: flex; flex-direction: column; justify-content: center; padding-bottom: 12px; padding-inline-end: 8px;"
                >
                  <div
                    style="display: flex; flex-direction: column; gap: 12px; padding-inline-start: 20px; padding-bottom: 12px; height: 100%;"
                  >
                    <div>
                      <div
                        style="background-color: var(--c-palGra800); height: 2px; width: 16px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 0px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 12px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 4px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 12px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 4px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 8px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 8px;"
                      >
                      </div>
                    </div><div>
                      <div
                        style="background-color: var(--ca-graBacTerTra); height: 2px; width: 12px; transition: background 0.2s, box-shadow 0.2s; box-shadow: none; border-radius: 2px; margin-inline-start: 4px;"
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="layout-full" style="isolation: isolate;">
    <div
      contenteditable="false"
      class="pseudoSelection"
      data-content-editable-void="true"
      style="user-select: none; --pseudoSelection--background: transparent; width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0; z-index: 2; transform: translateX(calc(var(--direction, 1) * 0px)); transition-duration: 200ms; transition-timing-function: ease; transition-property: transform;"
    >
      <div
        style="position: relative; width: 100%; z-index: 1; display: flex; flex-direction: column; align-items: center; height: 30vh; max-height: 280px; cursor: default;"
      >
        <div style="width: 100%; cursor: default;">
          <div
            style="display: grid; width: 100%; height: 30vh; max-height: 280px;"
          >
            <div class="" style="grid-area: 1 / 1; width: 100%; height: 100%;">
              <img
                alt="background"
                src={background.src}
                referrerpolicy="same-origin"
                style="display: block; object-fit: cover; border-radius: 0px; width: 100%; height: 30vh; max-height: 280px; opacity: 1; object-position: center 50%;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="layout-content"
    style="margin-bottom: 12px; padding-bottom: 12px; margin-inline-start: -4px;"
  >
    <div
      style="width: 100%; display: flex; flex-direction: column; align-items: center; flex-shrink: 0; flex-grow: 0;"
    >
      <div
        style="max-width: 100%; padding-inline-start: calc(0px + env(safe-area-inset-left)); width: 100%;"
      >
        <div
          contenteditable="false"
          class="pseudoSelection"
          data-content-editable-void="true"
          style="user-select: none; --pseudoSelection--background: transparent; pointer-events: none;"
        >
          <div style="display: flow-root; pointer-events: auto;">
            <div
              class="notion-record-icon notranslate"
              style="display: flex; align-items: center; justify-content: center; height: 140px; width: 140px; border-radius: 0.25em; flex-shrink: 0; position: relative; z-index: 1; margin-inline-start: 3px; margin-bottom: 0px; margin-top: -80px; pointer-events: auto;"
            >
              <div>
                <div class="" style="width: 100%; height: 100%;">
                  <img
                    alt="avatar"
                    src={avatar.src}
                    referrerpolicy="same-origin"
                    style="display: block; object-fit: cover; border-radius: 4px; width: 124.32px; height: 124.32px; transition: opacity 100ms ease-out;"
                  />
                </div>
              </div>
            </div>
          </div><div>
            <div
              class="notion-page-controls"
              style='display: flex; padding-top: 8px; padding-bottom: 4px; justify-content: flex-start; flex-wrap: wrap; margin-inline-start: -1px; color: var(--c-texTer); font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; pointer-events: auto;'
            >
            </div>
          </div>
        </div><div
          style="padding-inline-end: calc(0px + env(safe-area-inset-right));"
        >
          <div>
            <div
              data-block-id="720fcc6b-fc9b-40f6-ba85-a446b9bc7020"
              dir="ltr"
              class="notion-selectable notion-page-block"
              style='color: var(--c-texPri); font-weight: 700; line-height: 1.2; font-size: 40px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; cursor: default; display: flex; align-items: center;'
            >
              <h1
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="New page"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 0px; padding-inline: 2px; font-size: 1em; font-weight: inherit; margin: 0px; cursor: default;"
              >
                <span
                  style="text-decoration:none;color:inherit"
                  data-token-index="0"
                  class="notion-enable-hover"
                  >Ioannis Dermentzoglou - Resume</span>
              </h1><div
                contenteditable="false"
                data-content-editable-void="true"
              >
              </div>
            </div><div
              contenteditable="false"
              data-content-editable-void="true"
              style="margin-inline-start: 4px;"
            >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="layout-content layout-content-with-divider"
    style="margin-inline-start: 0px;"
  >
    <div style="display: flex; flex-direction: column; gap: 2px;">
      <div contenteditable="false" data-content-editable-void="true">
        <div
          class="notion-page-view-discussion"
          style="width: 100%; margin: 0px auto;"
        >
          <div
            data-block-id="720fcc6b-fc9b-40f6-ba85-a446b9bc7020"
            dir="ltr"
            class="notion-selectable notion-page-block"
          >
            <div
              dir="ltr"
              style="margin-top: 0px; margin-inline: -16px; margin-bottom: 16px;"
            >
              <div style="position: relative; border-radius: 8px;">
                <div
                  style="padding-top: 8px; padding-inline: 16px; padding-bottom: 8px;"
                >
                  <div style="position: relative; font-size: 14px;">
                    <div
                      style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;"
                    >
                      <div
                        style="display: flex; flex-direction: row; align-items: center; user-select: none; font-size: 14px; gap: 6px;"
                      >
                        <div
                          style="display: flex; align-items: center; gap: 6px;"
                        >
                          <div
                            data-popup-origin="true"
                            style="display: contents;"
                          >
                            <div
                              aria-label="Giannis Dermentzoglou"
                              style="margin-top: 0px; margin-inline-end: 2px; user-select: none;"
                            >
                              <div
                                style="margin-top: 0px; margin-inline-end: 2px; user-select: none;"
                              >
                                <div
                                  style="border-radius: 100%; width: 24px; height: 24px; display: flex; align-items: center; justify-content: center; user-select: none; opacity: 1;"
                                >
                                  <div
                                    class=""
                                    style="width: 100%; height: 100%;"
                                  >
                                    <img
                                      alt="Giannis Dermentzoglou"
                                      src="https://lh3.googleusercontent.com/a/ACg8ocJ7NPjpvtqCrpNYKbZNLg5iKHaEu3kku6y48LJJrUtJBc-I8_N_qA=s100"
                                      referrerpolicy="same-origin"
                                      style="display: block; object-fit: cover; border-radius: 100%; width: 100%; height: 100%; background: var(--c-bacPri); box-shadow: none; outline-width: 1px; outline-style: solid; outline-color: var(--ca-borSecTra); outline-offset: -1px;"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div><div
                            style="font-weight: 500; white-space: normal; flex-shrink: 0;"
                          >
                            Giannis Dermentzoglou
                          </div>
                        </div><div
                          style="font-size: 12px; line-height: 16px; color: var(--c-texTer); white-space: normal; flex-grow: 1; display: inline;"
                        >
                          <div
                            data-popup-origin="true"
                            style="display: contents;"
                          >
                            <div style="display: inline;">Dec 25</div>
                          </div>
                        </div>
                      </div>
                    </div><div style="padding-inline-start: 32px;">
                      <div
                        style="display: flex; flex-direction: row; justify-content: space-between;"
                      >
                        <div dir="auto" style="position: relative;">
                          <div
                            style="display: -webkit-box; -webkit-box-orient: vertical;"
                          >
                            <div>
                              <div
                                class="content-editable-leaf-rtl"
                                spellcheck="true"
                                placeholder=" "
                                contenteditable="false"
                                data-content-editable-leaf="true"
                                tabindex="0"
                                role="textbox"
                                aria-label="Start typing to edit text"
                                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); cursor: text; line-height: 20px; padding-top: 4px;"
                              >
                                https://lethe.gr
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><div
    class="layout-content"
    style="margin-inline-start: -2px; margin-top: 8px;"
  >
    <div
      class="notion-page-content"
      style="flex-shrink: 0; flex-grow: 1; max-width: 100%; display: flex; align-items: flex-start; flex-direction: column; font-size: 16px; line-height: 1.5; width: 100%; z-index: 4; padding-top: 8px; padding-bottom: 0px; padding-inline: 0px;"
    >
      <div
        data-block-id="4d123349-d937-4fbf-a262-a97cd4e758cf"
        dir="auto"
        class="notion-selectable notion-header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 2em; margin-bottom: 4px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h2
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 1"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.875em; line-height: 1.3; margin: 0px;'
          >
            Ioannis Dermentzoglou
          </h2><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="392f654a-9d2a-40ec-bc4c-6a1342189738"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover">Software Engineer</span
              > | Mnesia, Erlang
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="8bbb85bd-9fcb-4536-920a-98d82e5c63d7"
        dir="auto"
        class="notion-selectable notion-divider-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          class="notion-cursor-default"
          style="display: flex; align-items: center; justify-content: center; pointer-events: auto; width: 100%; height: 13px; flex: 0 0 auto;"
        >
          <div
            role="separator"
            style="width: 100%; height: 1px; visibility: visible; border-bottom: 1px solid var(--ca-borPriTra);"
          >
          </div>
        </div>
      </div><div
        data-block-id="ee5209cb-7898-414e-a911-6d1c16a61028"
        dir="auto"
        class="notion-selectable notion-sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1.4em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h3
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 2"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.5em; line-height: 1.3; margin: 0px;'
          >
            Technical Skills
          </h3><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="ead1ef24-0d06-4dcc-997c-2801fa1f7b48"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            Languages &amp; Frameworks
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="f2f04c5a-53d5-47f3-ae62-683bea4776d1"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Erlang
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="13071957-4aa4-4ea8-b1d9-ef227bc49c7d"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                React.js
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="40d3a739-050e-444e-9dbb-58dd9b13ac68"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                React Native
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="d5c11ede-547c-454b-93a9-ef00f44d8204"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Vue.js
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="4cbf2d71-305a-4696-ac07-989f8295088a"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Vuetify
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="dc6fbd9b-122f-429f-ac62-6835fdca9b52"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Laravel
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="a47316f4-8341-444e-9072-fff983a044de"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Symfony Framework
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="a764685f-8cee-4b23-9eb7-d896d37162bc"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            Databases
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="3e49efa7-bcaf-462d-88f5-f948d6dffacf"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Mnesia
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="f1f26c07-191c-463e-bbef-d0c8d62400a8"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                PostgreSQL
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="2f534603-1637-4c0d-b27a-f26e1d3c41f1"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                MongoDB
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="bded2cec-51b9-46a1-9d18-bb3145a080ab"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                MariaDB
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="ac5b8e43-2c5f-41ab-abe8-82429787b2b9"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            Cloud &amp; Infrastructure
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="73723bfe-7da9-4dc3-8f02-c50e1fce41d0"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Amazon Web Services (AWS)
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="8f7a1908-6c9a-4205-8125-fb6eafe38622"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Amazon EC2
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="3741ebb9-916a-4669-bb33-fa3c788c9524"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Amazon ECS
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="cf2d626c-d78f-424a-ae52-141f37bc10bf"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Amazon Elastic Container Registry (ECR)
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="1d324221-5ea4-4c39-94c3-38bb86982456"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                DigitalOcean
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="0484f669-f650-4ebd-a0b9-452d37c4a8aa"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Spaces
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="63bf9ae8-7a75-4941-8ae8-7c9705477a4b"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            DevOps &amp; Tools
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="8857dd34-ff82-4999-bee2-b1233322da7f"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Docker Products
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="7f457825-2d06-40e2-92dd-6ad58eef230a"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                CI/CD
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="36ec147b-feca-45f0-897e-151ccdcb4655"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Nginx
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="28b1e246-6406-4bcc-92eb-9cb10abb4df7"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Server Admin
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="1c91b828-d11a-4f1c-a613-3c4ff7237546"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Systems Management
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="e255dd02-0b61-4211-9aeb-51314e7b643f"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Jira
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="cd56db0a-176f-4935-85aa-71ad0a587b5b"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                GitHub
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="02283994-72f6-4361-8c58-74f0e30993a7"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            Core Competencies
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="451f6f66-1642-4b21-a01a-4e571d7f08e8"
        dir="auto"
        class="notion-selectable notion-bulleted_list-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          style="display: flex; align-items: flex-start; width: 100%; padding-inline-start: 2px; color: inherit; fill: inherit;"
        >
          <div
            contenteditable="false"
            class="notion-list-item-box-left pseudoSelection"
            data-content-editable-void="true"
            data-text-edit-side="start"
            style="user-select: none; --pseudoSelection--background: transparent; margin-inline-end: 2px; width: 24px; display: flex; align-items: center; justify-content: center; flex-grow: 0; flex-shrink: 0; min-height: calc(1.5em + 6px);"
          >
            <div
              class="pseudoBefore"
              style='font-size: 1.5em; line-height: 1; margin-bottom: 0px; --pseudoBefore--fontFamily: Arial; --pseudoBefore--content: "•";'
            >
            </div>
          </div><div
            style="flex: 1 1 0px; min-width: 1px; display: flex; flex-direction: column;"
          >
            <div style="display: flex;">
              <div
                class="content-editable-leaf-rtl"
                spellcheck="true"
                placeholder="List"
                contenteditable="false"
                data-content-editable-leaf="true"
                style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; text-align: start;"
              >
                Software Design
              </div><div style="position: relative; inset-inline-start: 0px;">
              </div>
            </div>
          </div>
        </div>
      </div><div
        data-block-id="1afe77e4-3a4a-46d2-b409-79aeba1579b9"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; min-height: 1em; color: var(--c-texPri); -webkit-text-fill-color: var(--c-texTer);"
            >
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="c678d2a2-bf9b-4327-9b48-a74a2bf96cff"
        dir="auto"
        class="notion-selectable notion-divider-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          class="notion-cursor-default"
          style="display: flex; align-items: center; justify-content: center; pointer-events: auto; width: 100%; height: 13px; flex: 0 0 auto;"
        >
          <div
            role="separator"
            style="width: 100%; height: 1px; visibility: visible; border-bottom: 1px solid var(--ca-borPriTra);"
          >
          </div>
        </div>
      </div><div
        data-block-id="70b2e1a1-0449-42da-aa0b-29fc30f594ef"
        dir="auto"
        class="notion-selectable notion-sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1.4em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h3
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 2"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.5em; line-height: 1.3; margin: 0px;'
          >
            Education
          </h3><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="1ed4e10c-33e6-4a3c-b4b8-4d643ab19b74"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            Aristotle University of Thessaloniki (AUTH)
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="15b5f00b-07e9-4bae-8e37-eab670109393"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover"
                >Master's degree, Knowledge, Data, and Software Technologies</span>
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="70dd28be-fe07-41dc-baa8-59f64b90c941"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-style:italic"
                data-token-index="0"
                class="notion-enable-hover">Oct 2017 - Oct 2019</span>
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="3baaab34-a8e5-4c41-bb95-593b5eb81567"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover">Coursework</span
              >: Machine learning, big data, spatial and multimedia DBs,
              automated planning and scheduling, PC hardware architecture
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="8a6ef13a-b730-4b9e-bb9f-59496f421c7c"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover">Technologies</span
              >: Python Pandas, PyTorch, Apache Spark, Scala, HBase, PostgreSQL,
              Cassandra, Neo4j, PDDL, C
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="0792aef1-8c34-40b6-9f5c-c378f29bfff8"
        dir="auto"
        class="notion-selectable notion-sub_sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h4
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 3"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.25em; line-height: 1.3; margin: 0px;'
          >
            Hellenic Open University
          </h4><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="e9a31ad8-62ee-48a6-b1a1-e3d89a55bb71"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover"
                >Bachelor's degree, Computer Science</span>
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="c64be733-0b69-4a6a-8356-862130c9db49"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-style:italic"
                data-token-index="0"
                class="notion-enable-hover">2012 - 2017</span>
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="dcc440ab-a027-40eb-adbe-8ebfb4d4e0c1"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; min-height: 1em; color: var(--c-texPri); -webkit-text-fill-color: var(--c-texTer);"
            >
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="a780e0dd-8d61-427c-9537-cb237375fddd"
        dir="auto"
        class="notion-selectable notion-divider-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div
          class="notion-cursor-default"
          style="display: flex; align-items: center; justify-content: center; pointer-events: auto; width: 100%; height: 13px; flex: 0 0 auto;"
        >
          <div
            role="separator"
            style="width: 100%; height: 1px; visibility: visible; border-bottom: 1px solid var(--ca-borPriTra);"
          >
          </div>
        </div>
      </div><div
        data-block-id="92d93e43-a819-4549-84f9-2e0ca1219044"
        dir="auto"
        class="notion-selectable notion-sub_header-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1.4em; margin-bottom: 1px;"
      >
        <div style="display: flex; width: 100%; color: inherit; fill: inherit;">
          <h3
            class="content-editable-leaf-rtl"
            spellcheck="true"
            placeholder="Heading 2"
            contenteditable="false"
            data-content-editable-leaf="true"
            style='max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px; font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI Variable Display", "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-weight: 600; font-size: 1.5em; line-height: 1.3; margin: 0px;'
          >
            Contact
          </h3><div style="position: relative; inset-inline-start: 0px;"></div>
        </div>
      </div><div
        data-block-id="1231f416-9fd6-4e77-8833-4abf3eab13d2"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 1px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover">Email:</span
              >
              <a
                href="mailto:dermentzoglou.ioannis@gmail.com"
                style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                class="notion-link-token notion-focusable-token notion-enable-hover"
                rel="noopener noreferrer"
                data-token-index="2"
                tabindex="0"
                ><span
                  style="text-decoration:underline;text-decoration-thickness:0.05em;text-decoration-color:var(--ca-opaLinDecCol);text-underline-offset:10%;opacity:0.7"
                  class="link-annotation-1231f416-9fd6-4e77-8833-4abf3eab13d2-1882256335"
                  >dermentzoglou.ioannis@gmail.com</span
                ></a>
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div><div
        data-block-id="6f776bb8-4233-4e6b-a28c-1a3077d55f6e"
        dir="auto"
        class="notion-selectable notion-text-block"
        style="width: 100%; max-width: 1638.53px; margin-top: 1px; margin-bottom: 0px;"
      >
        <div style="color: inherit; fill: inherit;">
          <div style="display: flex;">
            <div
              class="content-editable-leaf-rtl"
              spellcheck="true"
              placeholder=" "
              contenteditable="false"
              data-content-editable-leaf="true"
              style="max-width: 100%; width: 100%; white-space: break-spaces; word-break: break-word; caret-color: var(--c-texPri); padding-top: 3px; padding-bottom: 3px; padding-inline: 2px;"
            >
              <span
                style="font-weight:600"
                data-token-index="0"
                class="notion-enable-hover">LinkedIn:</span
              >
              <a
                href="https://www.linkedin.com/in/giannis-dermentzoglou-0a6381164/overlay/about-this-profile/?trk=opento_sprofile_details"
                style="cursor:pointer;color:inherit;word-wrap:break-word;text-decoration:inherit"
                class="notion-link-token notion-focusable-token notion-enable-hover"
                rel="noopener noreferrer"
                data-token-index="2"
                tabindex="0"
                ><span
                  style="text-decoration:underline;text-decoration-thickness:0.05em;text-decoration-color:var(--ca-opaLinDecCol);text-underline-offset:10%;opacity:0.7"
                  class="link-annotation-6f776bb8-4233-4e6b-a28c-1a3077d55f6e-1908828447"
                  >Profile</span
                ></a>
            </div><div style="position: relative; inset-inline-start: 0px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }

  #container {
    font-family:
      Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
      sans-serif;
    height: 100%;
  }

  main {
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  #links {
    display: flex;
    gap: 16px;
  }

  #links a {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    color: #111827;
    text-decoration: none;
    transition: color 0.2s;
  }

  #links a:hover {
    color: rgb(78, 80, 86);
  }

  #links a svg {
    height: 1em;
    margin-left: 8px;
  }

  #links a.button {
    color: white;
    background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
    box-shadow:
      inset 0 0 0 1px rgba(255, 255, 255, 0.12),
      inset 0 -2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
  }

  #links a.button:hover {
    color: rgb(230, 230, 230);
    box-shadow: none;
  }

  pre {
    font-family:
      ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
      "DejaVu Sans Mono", monospace;
    font-weight: normal;
    background: linear-gradient(14deg, #d83333 0%, #f041ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  h2 {
    margin: 0 0 1em;
    font-weight: normal;
    color: #111827;
    font-size: 20px;
  }

  p {
    color: #4b5563;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.006em;
    margin: 0;
  }

  code {
    display: inline-block;
    background:
      linear-gradient(66.77deg, #f3cddd 0%, #f5cee7 100%) padding-box,
      linear-gradient(155deg, #d83333 0%, #f041ff 18%, #f5cee7 45%) border-box;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 6px 8px;
  }

  .box {
    padding: 16px;
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    border: 1px solid white;
  }

  #news {
    position: absolute;
    bottom: 16px;
    right: 16px;
    max-width: 300px;
    text-decoration: none;
    transition: background 0.2s;
    backdrop-filter: blur(50px);
  }

  #news:hover {
    background: rgba(255, 255, 255, 0.55);
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
